[Unit]
Description=Create tap0 interface for Open Genera VLM
After=network-pre.target
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/yukidama/genera/genera-tap0.sh yukidama

[Install]
WantedBy=multi-user.target
